// CSS reset got from here https://dev.to/hankchizljaw/a-modern-css-reset-6p3

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* ----- beginning of custom css ----- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: "Roboto";
}

.title-bar {
    width: 100%;
    height: auto;
    padding: 20px; 
    display: inline-block;
    text-align: center;

    img {
        height: 30px;
        width: auto;
        display: inline-block;
        margin: 0 5px;
    }

    .site-title {
        margin: 0 5px;
        display: inline-block;
        height: auto;
    }
}

.header-links {
    width: 100%;
    height: auto;
    text-align: center;

    span {
        cursor: pointer;
        border-right: 2px solid black;
        padding: 0 5px;

        &:last-child {
            border: 0; 
        }
    }
}

#map {
    height: 500px;
    width: 60%;
    margin: 0 auto;
}

#modal-map {
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

#modal-wrapper {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

#modal-content-spot, #modal-content-register, #modal-content-login, #modal-content-about {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}